/**
 * RocketHcgs's Page
 * CSS
 */


@-webkit-keyframes SlideIn {
	0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); transform: translateZ(0) translateX(0); }
}
@keyframes SlideIn {
	0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes SlideOut {
	0% { }
	25% { opacity: .5; -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
}
@keyframes SlideOut {
	0% { }
	25% { opacity: .5; -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
}
.SlideIn {
	-webkit-animation:SlideIn 1s;
	animation:SlideIn 1s;
}
.SlideOut {
	-webkit-animation:SlideOut 1s;
	animation:SlideOut 1s;
}

html {
	height:100%;
	width:100%;
}

body {
	overflow:hidden;
	margin:0;
	height:100%;
	width:100%;
	font-family:微软雅黑,Arial,sans-serif;
	background:#555;
}

.nav {
	width:100%;
	left:0;
	top:0;
	position:fixed;
	margin-top:5px;
	text-align:right;
	font-size:1.5em;
	font-weight:bold;
	z-index:999;
}
.nav a {
	margin-right:10px;
	color:#333;
	text-decoration:none;
}
.nav a:hover,a:active {
	color:#fdc162;
	text-decoration:underline;
}
.nav .active {
	color:#fdc162;
	text-decoration:underline;
}
#home-link {
	margin-right:5px;
}
#about-link {
	margin-right:5px;
}

.main {
	perspective:1200px;
	height:100%;
	width:100%;
}

.page {
	width:100%;
	height:100%;
	left:0;
	top:0;
	position:absolute;
	opacity:0;
}
.page-current {
	opacity:1;
	z-index:8;
}

#home {
	background:#0ac2d2;
}
#about {
	background:#60d7a9;
}

.content-1 {
	top:40%;
	left:50%;
	width:297px;
	z-index:9;
	position:absolute;
	margin-top:-9.3em;
	margin-left:-9.3em;
	color:#333;
}
.avatar {
	top:30px;
	left:93px;
	position:relative;
	height:100px;
	width:100px;
	border:5px solid #60d7a9;
	border-bottom-color:#f489ad;
	border-radius:50%;
	box-shadow:0 0 10px rgba(0,0,0,.4);
	-webkit-transition:.4s all;
	transition:.4s all;
}
.avatar:hover {
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}
.content-1 .avatar img {
	border-radius:50%;
}
.content-1 ul {
	margin-left:-3em;
	list-style:none;
}
.content-1 ul li {
	display:inline-block;
	background:#ccc;
	border:1px solid transparent;
	border-radius:4px;
	padding:4px;
}

.box {
	padding:1em;
	background:#eee;
	border:1px solid transparent;
	border-radius:4px;
	box-shadow:0 0 10px rgba(0,0,0,.4);
	text-align:center;
}
.box h1,h2 {
	margin:.4em 0;
}

@media screen and (max-width:900px) {
.content-2 {
	height:88%;
	min-width:292px;
	top:14%;
	left:50%;
	z-index:9;
	position:absolute;
	margin-left:-9.1em;
	color:#333;
}
.box-about {
	height:80%;
	max-height:640px;
	overflow:auto;
	padding-left:1em;
	background:#eee;
	border:1px solid transparent;
	border-radius:4px 4px 0 0;
	box-shadow:0 -4px 10px rgba(0,0,0,.4);
}
}
@media screen and (min-width:901px) {
.content-2 {
	height:88%;
	min-width:292px;
	top:14%;
	left:50%;
	z-index:9;
	position:absolute;
	margin-left:-11.1em;
	color:#333;
}
.box-about {
	height:80%;
	max-height:640px;
	overflow:auto;
	padding:0 2em 0 3em;
	background:#eee;
	border:1px solid transparent;
	border-radius:4px 4px 0 0;
	box-shadow:0 -4px 10px rgba(0,0,0,.4);
}
}
.box-about a {
	color:#666;
	text-decoration:none;
}
.box-about a:hover,a:active {
	color:#333;
	text-decoration:underline;
}
.box-about h3 {
	margin:.5em 0;
}
.box-about ul {
	padding-left:1em;
}
.box-footer {
    padding:10px 15px;
    background-color:#ddd;
    border-top:1px solid #ccc;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
	box-shadow:0 4px 10px rgba(0,0,0,.4);
	font-size:14px;
}